* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.homepage{
    position: absolute;
    width: 950px;
    height: 400px;
    right: 25%;
    top: 25%;
}
.contactspage{
    position: absolute;
    width: 400px;
    height: 400px;
    right: 40%;
    top: 25%;
    border:1px solid white;
}
h1{
    font-size: 150px; 
    margin-bottom: 20px; 
    text-align: center;
}
h3{
    margin-top: 26px; 
    margin-left: 15px; 
    color: white; 
    font-family: 'Poppins'; 
    font-size: 18px;
}
.links{
    margin-bottom: 50px;
    display: flex;
    width: 100%;
    justify-content: space-around;
        
}
td {
    background-color: #232123;
    color: white;
}

.itemTxt {
    color:black 
}

.tableItems {
    color: white;
}
.btn {
    background-color: #00a589;
}

