* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.homepage{
    position: absolute;
    width: 950px;
    height: 400px;
    right: 25%;
    top: 25%;
}
.contactspage{
    position: absolute;
    width: 400px;
    height: 400px;
    right: 40%;
    top: 25%;
    border:1px solid white;
}
h1{
    font-size: 150px; 
    margin-bottom: 20px; 
    text-align: center;
}
h3{
    margin-top: 26px; 
    margin-left: 15px; 
    color: white; 
    font-family: 'Poppins'; 
    font-size: 18px;
}
.links{
    margin-bottom: 50px;
    display: flex;
    width: 100%;
    justify-content: space-around;
        
}
td {
    background-color: #232123;
    color: white;
}

.itemTxt {
    color:black 
}

.tableItems {
    color: white;
}
.btn {
    background-color: #00a589;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
}
    

.Jbutton{
    border: 2px solid transparent;
    border-color: none;
    border-radius: 10px;
    width: 200px;
    height: 60px;
    font-size: 30px;
    font-weight: bolder;
    color: #06063a;
    text-decoration: none;
}

#facelogo, #tweetlogo, #gitlogo{
    font-size: 50px;
    text-decoration: none;
    color: white;
}
#picon{
    color: white; 
    font-family: 'Poppins'; 
    font-size: 18px;
    padding-left:10px;
}
#number{
    color:white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:18px;
    padding-left:10%;
    padding-top:10%;
}
#contacthead{
    color:white;
    font-family:'Poppins';
    font-size:30px;
    padding-top: 10px;
    padding-left: 10px;
}
#contactfoot{
    color:white;
    font-family:'Poppins';
    font-size:20px;
    padding-top:12%;
    padding-left:10%;
    padding-bottom:10px;
}

